monitorflow.json
[{"id":"2e32ad9b.cd9f1a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"391858d7.3200c","type":"mqtt in","z":"2e32ad9b.cd9f1a","name":"","topic":"sensor/#","qos":"2","broker":"75449d56.ed30d4","x":170,"y":220,"wires":[["27195b8d.502d3c","2cc56859.10daa"]]},{"id":"27195b8d.502d3c","type":"function","z":"2e32ad9b.cd9f1a","name":"mqtt to influxdb","func":"\n\nvar tokens = msg.topic.split(\"/\");\nvar payload = [];\nvar now = Date.now();\n\npayload.push([{\n    value: Number(msg.payload),\n    time: now * 1000000\n  }, {\n    location: tokens[1],\n    measurement: tokens[2]\n  }]);\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["7be75528.15946c"]]},{"id":"7be75528.15946c","type":"influxdb out","z":"2e32ad9b.cd9f1a","influxdb":"eadb98cd.c629b","name":"","measurement":"sensor","precision":"","retentionPolicy":"","x":770,"y":220,"wires":[]},{"id":"2cc56859.10daa","type":"debug","z":"2e32ad9b.cd9f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":320,"wires":[]},{"id":"75449d56.ed30d4","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eadb98cd.c629b","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"TkSuat","name":"","usetls":false,"tls":""}]